@import "../../styles/variables.scss";

.phaseParent {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $pink;
  background-color: $purple;
  flex-direction: column;

  & button {
    margin-top: 1rem;
    display: block;
    padding: 0.75rem;
  }
}
